{% extends "layout.html" %}
{% block body %}

<h1>Adicionar numa nota</h1>
<form method="post" action="/nota/adicionar">
    <label for="inprocesso">Aluno:</label>
    <select name="inprocesso" id="inprocesso" class="form-select">
        <option value="-1">Escolha um</option>
        {% for aluno in alunos %}
            <option value="{{ aluno['nprocesso'] }}">{{ aluno['nome'] }}</option>
        {% endfor %}
    </select>
    <label for="icodigo_disciplina">Disciplina:</label>
    <select name="icodigo_disciplina" id="icodigo_disciplina" class="form-select">
        <option value="-1">Escolha uma</option>
        {% for disciplina in disciplinas %}
            <option value="{{ disciplina['codigo']}}">{{ disciplina['nome']}}</option>
        {% endfor %}
    </select>
    <label for="inota">Nota</label>
    <input class="form-control" type="number" id="inota" name="inota" placeholder="Introduza a nota do aluno" min="0" max="20" />
    <label for="idata_nota">Data:</label>
    <input class="form-control" type="date" id="idata_nota" name="idata_nota" />
    <label for="iano">Ano</label>
    <input class="form-control" type="number" id="iano" name="iano" />
    <input class="btn btn-lg btn-danger" type="submit" value="Guardar" />
    {{ mensagem }}
</form>

{% endblock %}